<launch>
        <!-- 可选的参数 -->
        <arg name = "pac_lidar_ip"          default = "192.168.1.199" />
        <arg name = "pac_lidar_port"        default = "5000"          />
        <arg name = "pac_lidar_speed"       default = "10"            />
        <arg name = "pac_lidar_frame_id"    default = "world"         />
        <arg name = "point_tear_optimize"   default = "true"        />

        <!-- 启动雷达驱动节点 -->
        <include file="$(find paclidar_driver)/launch/PACLidarBringup.launch">
            <arg name = "pac_lidar_ip"          value = "$(arg pac_lidar_ip)"         />
            <arg name = "pac_lidar_port"        value = "$(arg pac_lidar_port)"       />
            <arg name = "pac_lidar_speed"       value = "$(arg pac_lidar_speed)"      />
            <arg name = "pac_lidar_frame_id"    value = "$(arg pac_lidar_frame_id)"   />
            <arg name = "point_tear_optimize"   value = "$(arg point_tear_optimize)"  />
        </include>

        <!-- 运行rviz可视化界面 -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find paclidar_driver)/config/ViewLaserScan.rviz" required="true" />
</launch>